.header {
    color: black;
    background-color: linear-gradient(180deg, #FFFFFF 0%, #EEF1FD 100%);
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.menu__item--right {
    margin-left: auto;
    padding: 10px;
    gap: 10px;
}

.menu__link img {
    margin-right: 5px;
}

.menu-button {
    font-size: 14px;
    font-weight: bold;
    line-height: 16.52px;
    text-align: center;
    text-decoration-skip-ink: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: rgba(36, 57, 118, 1);
    text-decoration: none;
    margin-right: 5px;
    transition: transform 0.3s;
    text-decoration: none;
}

.menu-button:hover {
    color: rgba(36, 57, 118, 1);
    transform: scale(1.15)
}

.header__login {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.55px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: rgba(36, 57, 118, 1);
    text-decoration: none;

}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-button {
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 222px;
    height: 57px;
    border: none;
    border-radius: 90px 90px 90px 90px;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}

.header-button:hover {
    background:linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    transform: scale(1.03)
}

.header-button:active {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}

.class__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.class-button {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 30px;
    border-radius: 25px 25px 25px 25px;
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    color: #ffffff;
    transition: background 0.3s, color 0.3s;
    text-decoration: none;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}

.class-button:hover {
    background:linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    transform: scale(1.03)
}

.class-button:active {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}
