.education {
    padding: 10px;
    width: 100%;
}

.education__wrap {
    display: flex;
    gap: 10px;
}

.education__wrap-right {
    flex-shrink: 0;
    align-self: flex-start;
}

.education__wrap-left {
    width: 494px;
}

.education-button {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    color: #ffffff;
    transition: background-image;
    transition-duration: 0.5s;
    text-decoration: none;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    width: 273px;
    height: 67px;
    border-radius: 90px 90px 90px 90px;
}

.education-button:hover {
    background-image: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    transform: scale(1.03)
}

.education-button:active {
    background-image: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}

.education__tittle {
    font-weight: bold;
    font-size: 81px;
    line-height: 84px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #243976;
    gap: 0px;
    opacity: 0px;
    margin: 0;
}

.education__tittle-1 {
    font-weight: bold;
    font-size: 81px;
    line-height: 84px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #49B3F7;
    gap: 0px;
    opacity: 0px;
    margin: 0;
}

.education__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 28.08px;
    text-align: left;
    text-decoration-skip-ink: none;
    margin-bottom: 36px;
}

.education--text {
    font-weight: bold;
    font-size: 17px;
    font-weight: 700;
    line-height: 28.08px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #243976;
}

.education__link-button:hover {
    transform: scale(1.1)
}

.social__media {
    margin-left: 15px;
}

.education__link__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.43px;
    text-align: center;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 22px;
}

.education__link__container {
    position: relative;
    display: inline-block;
}

.Vector {
    position: absolute;
    top: 26%;
    transform: translateY(-50%);
    margin-left: 325px;
}

.education__link-button {
    text-align: center;
    margin-top: 10px;
}

.for__who__item {
    width: calc(100% / 5 - 20px);
    height: 132px;
    gap: 0px;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.for__who__list {
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.for__who__image {
    width: 70px;
    height: 70px;
}

.for__who__text {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
}

.for__who__image-1 {
    width: 67.63px;
    height: 70px;
}

.for__who__tittle {
    text-align: center;
    color: rgba(36, 57, 118, 1);
    font-size: 40px;
    line-height: 41.28px;
    text-decoration-skip-ink: none;
}

.for__who__image-2 {
    width: 70.18px;
    height: 70px;
}

.for__who__image-3 {
    width: 70px;
    height: 67.52px;
}

.first__month__of__education {
    background: rgba(239, 242, 253, 1);
    width: 100%;
    height: 160px;
    gap: 0px;
    border-radius: 25px 25px 25px 25px;
    opacity: 0px;
    align-items: center;
    display: flex;
    margin-top: 60px;
}

.first__month__image {
    padding: 0px;
    margin-left: 60px;
    margin-bottom: 80px;
}

.first__month__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first__month__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
    width: 550px;
    height: 42px;
    margin: 0;
    margin-left: 22px;
}

.first__month__wrap-1 {
    margin-bottom: 10px;
}

.first__month__tittle {
    font-weight: bold;
    font-size: 32px;
    line-height: 33.02px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
    width: 650px;
    height: 33px;
    margin: 5px;
    margin-left: 125px;
    gap: 0;
}

.first__month__wrap {
    display: flex;
    align-items: center;
    margin: 0px;
    max-width: 1200px;
}

.first__month__wrap-left {
    margin-left: 150px;
    width: 273px;
    height: 117px;
}

.the__lessons__going {
    width: 100%;
    padding: 10px;
}

.the__lessons__going__tittle {
    font-size: 50px;
    line-height: 51.6px;
    text-align: center;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
    margin-bottom: 10px;
}

.the__lessons__going__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    flex-wrap: wrap;
}

.the__lessons__going__tittle-1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 20.6px;
    text-align: left;
    text-decoration-skip-ink: none;
    background-color: #fff;
    width: 299px;
    color: rgba(36, 57, 118, 1);
}

.the__lessons__going__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 23.55px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
}

.the__lessons__going__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.the__lessons__going__wrap-left {
    margin-left: 20px;
    width: 310px;
}

.the__lessons__going__wrap--left {
    margin-left: 20px;
    width: 262px;
}

.the__lessons__going__wrap-right {
    margin-right: 20px;
    width: 265px;
    margin-left: 20px;
}

.children {
    padding: 10px;
    width: 100%;
    height: 750px;
    gap: 10px;
    background: #EFF2FD;
}

.children__wrap {
    display: flex;
    gap: 40px;
}

.children__wrap-right {
    flex-shrink: 0;
}

.children__wrap-left {
    height: 135px;
}

.children__tittle {
    font-size: 50px;
    line-height: 51.6px;
    letter-spacing: 0%;
    color: rgba(36, 57, 118, 1);
}

.children--tittle {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgba(36, 57, 118, 1);
    margin: 0;
}

.children__love__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 19.5px;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(36, 57, 118, 1);
    margin: 0;
}

.children__container {
    width: 100%;
    height: 711px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.children__item {
    gap: 10px;
    opacity: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    width: 517px;
}

.children__card {
    margin: 20px;
}

.children__image {
    width: 45px;
    flex-shrink: 0;
    object-fit: none;
}

.children-button {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    width: 273px;
    height: 67px;
    margin-right: 10px;
    border-radius: 90px 90px 90px 90px;
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    color: #ffffff;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}

.children-button:hover {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
    transform: scale(1.03)
}

.chlidren-button:active {
    background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
    color: #ffffff;
    box-shadow: 0px 6px 21px 0px rgba(104, 130, 245, 0.67);
}

.children__link-button:hover {
    transform: scale(1.1)
}

.children__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.43px;
    text-align: center;
    text-decoration-skip-ink: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 22px;
}

.children__link-button {
    text-align: center;
    margin-top: 10px
}

.children__Vector {
    width: 50px;
    height: auto;
}

.children__link-vector {
    display: flex;
    align-items: center;
}

.comparison__container {
    margin: 0;
    padding: 20px 0;
    gap: 20px;
}

.comparison__tittle {
    font-size: 50px;
    line-height: 51.6px;
    letter-spacing: 0%;
    text-align: center;
    color: #243976;
}


.comparison__tittle__left {
    font-size: 32px;
    line-height: 33.02px;
    color: #243976;
}

.comparison__tittle__right {
    font-size: 32px;
    line-height: 33.02px;
    color: #FFFFFF;
}

.comparison__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    color: #243976;
    margin: 0;
    gap: 0;
    display: flex;
}

.comparison--text {
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    color: #243976;
    margin: 0;
    gap: 0;
}

.comparison__text--right {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0;
    gap: 0;
}

.comparison--text--right {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0;
}

.comparison--list {
    background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
    border-radius: 15px;
    box-shadow: 3.91px 11.72px 31.25px 0px rgba(30, 35, 66, 0.15);
    width: 376px;
    height: 490px;
    align-self: center;
    justify-content: center;
}

.comparison--item {
    color: #243976;
    margin-left: 30px;
}

.comparison--item-left {
    list-style-type: none;
}

.comparison__item-left {
    list-style-type: none;
}

.comparison__list {
    background: linear-gradient(180deg, #EFF2FD 0%, #FCFCFC 100%);
    width: 360px;
    height: 470px;
    border-radius: 15px;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 3.91px 11.72px 31.25px 0px rgba(30, 35, 66, 0.15);
}

.comparison__item {
    color: #FFFFFF;
    margin-left: 30px;
}

.comparison__card {
    padding: 20px 0;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.comparison__wrap {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.4s;
}

.comparison__wrap:hover {
    transform: scale(1.03)
}

.comparison__wrap--right {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.4s;
}

.comparison__wrap--right:hover {
    transform: scale(1.03)
}

.suits__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 150px 0 150px;
}

.suits__card {
    margin: 10px;
}

.suits__tittle {
    font-size: 50px;
    line-height: 51.6px;
    text-align: center;
    color: rgba(36, 57, 118, 1);
    display: flex;
}

.suits--tittle {
    font-weight: bold;
    font-size: 20px;
    line-height: 20.64px;
    text-align: center;
    color: rgba(36, 57, 118, 1);
    justify-content: center;
}

.suits__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.suits__wrap--right {
    width: 360px;
}

.suits__image {
    margin-left: 80px;
    height: 160px
}

.suits__pay__wrap {
    background: rgba(239, 242, 253, 1);
    height: 160px;
    gap: 0px;
    border-radius: 25px 25px 25px 25px;
    align-items: center;
    display: flex;
    margin-top: 60px;
}

.suits__pay__image {
    padding: 0px;
    margin-left: 60px;
    margin-bottom: 80px;
}

.suits__pay__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suits__pay__tittle {
    font-weight: bold;
    font-size: 32px;
    line-height: 33.02px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
    width: 650px;
    height: 33px;
    margin: 5px;
    margin-left: 105px;
    gap: 0;
}

.suits__pay__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: rgba(36, 57, 118, 1);
    width: 550px;
    height: 42px;
    margin: 0;
}

.suits__pay__wrap-left {
    margin-left: 150px;
    width: 273px;
    height: 117px;
}

.entrance__tittle {
    color: rgba(36, 57, 118, 1);
    text-align: center;
}