@media only screen and (max-width: 1024px) {

    .first__month__content {
        width: 520px;
    }

    .first__month__tittle {
        font-size: 25px;
        width: 500px;
        margin: 5px;
    }

    .first__month__text {
        margin-left: 1px;
        width: 500px;
    }

    .first__month__wrap-left {
        margin-left: 10px;
    }

    .the__lessons__going--image {
        width: 170px;
    }

    .the__lessons__going__container {
        gap: 10px;
    }

    .the__lessons__going__wrap-left {
        width: 270px;
    }

    .the__lessons__going__tittle {
        font-size: 40px;
    }

    .children {
        height: 630px;
    }

    .children__container {
        padding: 0;
    }

    .children__item {
        gap: 0;
    }

    .children__card {
        margin: 10px;
    }

    .children__list {
        padding: 0;
    }

    .children__wrap-right {
        width: 422px;
        height: 276px;
    }

    .suits__container {
        padding: 0;
        gap: 0;
    }

    .suits__card {
        width: 300px;
    }

    .suits--tittle {
        font-size: 17px;
        line-height: 18px;
    }

    .suits__text {
        line-height: 20px;
    }

    .suits__wrap--right {
        width: 300px;
    }

    .suits__pay__content {
        width: 520px;
    }

    .suits__pay__tittle {
        font-size: 25px;
        width: 500px;
        margin: 5px;
    }

    .suits__pay__text {
        margin-left: 1px;
        width: 500px;
    }

    .suits__pay__wrap-left {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .card__list {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1024px) {
    .menu {
     flex-wrap: wrap;
    }
    }